/* Limited reset */

html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li,
figure, canvas, video {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

a:hover {
    color: #000000;    
}

/*html display rule*/
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, section, summary {
    display: block;
}

body {
    background: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Container Tags*/

#container {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 920px;
    line-height: 1.6em;
}

header#mainHeader img {
    margin-bottom: -20px;

}

/* Footer Tags */

footer#pageFooter {
    background-color: #f4f3f3;
    border-radius: 15px;
    width: 890px;
    padding: 5px;
    margin-top: 10px;
}

footer#pageFooter p {
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* path Tags */

#path {
    position: relative;
    left: 20px;
    top: -20px;
    color: #FFF;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#path li {
    display: inline;

}

#path a {
    color: #FFF
}

#path a:hover {
    color: #79e24e;
}

/* map Tags */

#map {
    position: relative;
    left: 50px;
    top: 15px;
    width: 90px;
    height: 645px;
    width: 750px;
    background-color: #CCC; 
}

/* houseInfo Tags */

section#houseInfo {
    background-color: #f4f3f3;
    border: 0px solid #7f7f7f;
    border-radius: 15px;
    padding: 20px;
    width: 860px;
    margin-bottom: 10px;
}